@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Rock+Salt&display=swap');
@media only screen and (min-width:560px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        gap: 25px;
        padding: 25px;
      }
      header{
        background-color: rgb(60, 84, 203);
        text-align: center;
        padding: 3px;
        color: rgb(255, 255, 255);
    }
    .item2{
        grid-column: 1 / span 2;
    }
    img{
        max-width: 350px;
    }
    body{
        font-family: 'Rock Salt', 'roboto',sans-serif;
    }
    .item2 > h1{
        font-size: 20px;
    }
    .item1 > h1{
        font-size: 20px;
    }
    }