header{
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #669bbc;
    color: black;
}

.msg{
    background-color: tomato;
    color: black;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
