@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Rock+Salt&display=swap');
.flex-container {
    display: flex;
    background-color: DodgerBlue;
    height: 250px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(26 25 25);
  }
  
  h1{
    color: azure;
    text-shadow: 5px 5px 10px rgb(26 25 25);
    font-size: 45px;
  }
  body{
    margin-top: 40px;
    margin-left: 330px;
    margin-right: 330px;
  }
  .disgraca{
    flex-grow: 8;
  }
  .flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
  img{
    height: 180px;
    width: 140px;
    box-shadow: 5px 5px 10px rgb(26 25 25);
  }
ul li {
    color: rgb(0, 0, 0);
    margin: 5px;
    font-size: 20px;
  }
.line{border-bottom: 1px solid black;
    color: black;
}
.line2{
    border-top: 1px solid black;
}
.flex-container2{
    margin-bottom: -20px;
    display: flex;
    flex-direction: column;
    background-color: DodgerBlue;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #1a1919;
    height: 56px;
    padding: 10px;
    color:rgb(236, 239, 106)

  }
  p{margin: 0;
  color: rgb(0, 0, 0);}
  .a{
    color: azure;
    font-size: 25px;
  }
  .a > #demo{color: azure;
  font-size: 25px;}
  a{margin: 0;}
 .f > #d{
  color: rgb(245, 252, 154);
  font-size: 20px;
 }
 .f{
  color:rgb(245, 252, 154);
  font-size: 20px;
 }